@inject IOptions<AppSettings> AppSettings
@{
    Layout = "_Layout";
}

@functions
{
    string sidebarActiveCss(string action)
    {
        return action == ViewContext.RouteData.Values["action"].ToString() ?
            "active" : "";
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar-background">
        </div>
        <div class="col-xs-2 col-sm-2 sidebar">
            <ul class="nav nav-sidebar" id="metis-menu" ng-controller="sidebarController">
                <li role="presentation" class=" @sidebarActiveCss("Index")">
                    <a asp-controller="Dashboard" asp-action="Index">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li role="presentation" class=" @sidebarActiveCss("Users")">
                    <a asp-controller="Dashboard" asp-action="Users">
                        <i class="fa fa-fw fa-users"></i>
                        <span>Users</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                        <li>
                            <a asp-controller="Dashboard" asp-action="UserGroups">
                                Groups
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Dashboard" asp-action="UserRoles">
                                Roles
                            </a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class=" @sidebarActiveCss("Applications")">
                    <a asp-controller="Dashboard" asp-action="Applications">
                        <i class="fa fa-fw fa-desktop"></i>
                        <span>Applications</span>
                    </a>
                </li>
                <li role="presentation" class=" @sidebarActiveCss("Clients")">
                    <a asp-controller="Dashboard" asp-action="Clients">
                        <i class="fa fa-fw fa-money"></i>
                        <span>Clients</span>
                    </a>
                </li>
                <li role="presentation" class=" @sidebarActiveCss("Scrapes")">
                    <a asp-controller="Dashboard" asp-action="Scrapes">
                        <i class="fa fa-fw fa-gears"></i>
                        <span>Scrapes</span>
                    </a>
                </li>
            </ul>
        </div>
        @RenderBody()
    </div>
</div>
